Repository PumasAI/Pumas.jl, pull requests merged in 2019-11, with the labels that each got.

#721 Remove redundant an fragile test of npde in theophylline
  test/nlme/theophylline.jl
Labels: NLME

#725 Fix typo NCA plot title and use scale instead of view
  src/nca/type.jl
Labels: NCA

#728 Don't try to cache `missing` and handle multidose `setretcode!`
  src/nca/auc.jl
  src/nca/utils.jl
  test/nca/multidose_tests.jl
  test/nca/singledose_tests.jl
Labels: NCA

#733 Enable the use of DiffEq plotting by defining has_syms and getpropert…
  src/analytical_solutions/standard_models.jl
Labels: needs tests

#732 Fix doses such that rates don't reset simultaneous doses and rates if…
  src/simulate_methods/analytical.jl
  test/core/analytical_models.jl
Labels: needs tests

#762 Use Tsit5() solver for FOCE fit of proportional+additive model in
  test/nlme/bolus.jl
Labels: NLME
